
body {
  background-color: rgb(222, 226, 228);
}

p {
  font-size: 16px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 18px;
}

/* bagpictures */
.bags {
  width: 125px;
  height: 125px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Header image */
.headimage {
  margin: 25px 25px 25px;
  width: 840;
  height: 240;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid #909090 5px;
}

.graph{
  border: solid #909090 5px;
  margin-left: auto;
  margin-right: auto;
} 

/* Nikola */
.Nikola {
  width: 350px;
  height: 375px;
  border: solid #909090 5px;
  margin: 50px 50px 50px;

}

.InFact {
  text-align: center;
  width: 170px;
  height: 170px;
  border: solid #909090 5px;
  margin: 50px 50px 50px;

}

#boxedOG {
  background-color:#9BC4E2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
    width: 400px;
    border: 6px solid #909090;
    padding: 25px;    
}

/* bootsrapcolumns4 */

/* .col-md-4 {
  background-color:#9BC4E2;
  border-top: solid #909090 5px;
  border-bottom: solid#909090 5px;
  
  } */

#boxed1 {
  background-color:#9BC4E2;
  margin-left: 25px;
  margin-right: 25px; 
   margin-top: 25px;
  margin-bottom: 20px;
    width: 250px;
    height: 400;
    border: 6px solid #909090;
    padding: 25px;
    float: right;
} 

#boxed {
  background-color:#B0C4DE;
  float: right;
    width: 350px;
    border: 6px solid #909090;
    padding: 25px;
    margin: 25px;
}
/* column and rows for slides */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* slide section */
#slideone {
  background-color: rgb(230,230,250)
}

#slidetwo {
  background-color: rgb(216,191,216)
}

#slidethree {
  background-color: rgb(238,130,238)
}

#slidefour {
  background-color: rgb(218,112,214)
}

/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}
